@font-face {
    font-family: harley;
    src: url(../font/harley.ttf);
}

@font-face {
    font-family: sukum;
    src: url(../font/sukum.ttf);
}

@font-face {
    font-family: typo;
    src: url(../font/typo.otf);
}

@font-face {
    font-family: sukum-mid;
    src: url(../font/sukum-mid.ttf);
}

@font-face {
    font-family: bernier;
    src: url(../font/bernier.otf)
}

@font-face {
    font-family: mono;
    src: url(../font/mono.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.section p {
    padding: 10%;
    font-family: sukum;
    font-size: 20px;
    color: #fff;
    text-align: justify;
}

#his {
    background: url(../Pics/His/his1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#his p{
    background: rgba(32, 32, 32, 0.8);
}

#his1 {
    background: url(../Pics/His/his2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#his1 p{
    background: rgba(32, 32, 32, 0.8);
}

#his2 {
    background: url(../Pics/His/his3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#his2 p{
    background: rgba(32, 32, 32, 0.8);
}