@font-face {
    font-family: harley;
    src: url(../font/harley.ttf);
}

@font-face {
    font-family: sukum;
    src: url(../font/sukum.ttf);
}

@font-face {
    font-family: typo;
    src: url(../font/typo.otf);
}

@font-face {
    font-family: sukum-mid;
    src: url(../font/sukum-mid.ttf);
}

@font-face {
    font-family: bernier;
    src: url(../font/bernier.otf)
}

@font-face {
    font-family: mono;
    src: url(../font/mono.ttf);
}

#sec1 {
    background: url(../Pics/Life/life/life1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 5px #323232;
}
#sec2{
    background: url(../Pics/Life/food/sec2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#sec3{
    background: url(../Pics/Life/food/food1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
#sec4{
    background: url(../Pics/Life/food/food2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
#sec5{
    background: url(../Pics/Life/food/food3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
